@import "../../../../../styles/variables.scss";

:host {
    .contact-us-area {
        background-image: url(../../../../../assets/images/contact.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        position: relative;
        z-index: 1;
        color: $white;
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            z-index: -1;
            opacity: 0.6;
        }

        h3 {
            font-size: 28px;
            margin-bottom: 16px;
        }

        p {
            font-size: 14px;
        }
    }

    .contact-form {
        padding: 50px 0;
    }

    .c-form {
        padding: 24px;

        h3 {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    .contact-icon {
        width: 100px;
        height: 100px;
        line-height: 100px;
        position: relative;
        background-color: $off-white;
        border-radius: 50%;
        margin-right: 24px;

        span {
            font-size: 55px;
            color: $primary-text;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .contact-details{
        h3{
            margin-bottom: 8px;
        }
        p{
            font-size: 14px;
            margin-bottom: 24px;
        }
    }

    .c-details {
        h5 {
            margin-bottom: 4px;
            font-size: 14px;
            color: $primary-text;
        }

        p {
            font-size: 12px;
        }
    }
}