<section class="footer-area section-padding">
    <div class="container">
        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="32px">
            <div fxFlex.gt-sm="50%">
                <div class="footer-logo">
                    <h1 class="mb-8">Angulary</h1>
                    <p class="font-size-14">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio explicabo
                        iusto possimus accusamus dolorem quo hic amet similique non numquam dolore veniam nesciunt,
                        nostrum animi maxime autem voluptatibus nemo perspiciatis!</p>
                </div>
            </div>
            <div fxFlex.gt-sm="50%">
                <div class="address mat-elevation-z2 p-16">
                    <h4 class="mb-4 font-size-18">Location</h4>
                    <p class="mb-24 font-size-14">22, Lorem ipsum dolor sit amet.</p>
                    <div fxLayout="row" fxLayoutAlign="start center" class="mb-8">
                        <div class="mr-16">
                            <span class="material-icons">phone</span>
                        </div>
                        <div>
                            <p class="font-size-12">01912192111</p>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div class="mr-16">
                            <span class="material-icons">email</span>
                        </div>
                        <div>
                            <p class="font-size-12">abcd@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="copy-right-area">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <p class="font-size-14">&copy; at abc.com</p>
            <p class="font-size-12">Designed by abc team.</p>
        </div>
    </div>
</section>