<section class="section-padding" id="Ourwork">
    <div class="container">
        <div class="section-title">
            <h2>Our Works</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aperiam repellat aliquid id! Illo corrupti laboriosam in quibusdam ut aspernatur inventore qui possimus?
            </p>
        </div>

        <div fxLayout="row wrap" fxLayoutGap.gt-sm="32px" ngClass.gt-sm="mr-m-32" fxLayoutAlign="start stretch">
            <div class="mb-32" ngClass.xs="mb-16" fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)"
                fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <mat-card class="p-0 m-0 single-work cursor-pointer">
                    <mat-card-header class="p-16">
                        <mat-card-title class="m-0">Angulary 1</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="m-0" src="assets/images/work__01.jpg" alt="Photo of Version One">
                    <div class="p-16">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions class="mb-0">
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>favorite_border</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>share</mat-icon>
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>
            <div class="mb-32" ngClass.xs="mb-16" fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)"
                fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <mat-card class="p-0 m-0 single-work cursor-pointer">
                    <mat-card-header class="p-16">
                        <mat-card-title class="m-0">Angulary 2</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="m-0" src="assets/images/work__02.jpg" alt="Photo of Version Two">

                    <div class="p-16">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions class="mb-0">
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>favorite_border</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>share</mat-icon>
                            </button>
                        </mat-card-actions>
                    </div>

                </mat-card>
            </div>
            <div class="mb-32" ngClass.xs="mb-16" fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)"
                fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <mat-card class="p-0 m-0 single-work cursor-pointer">
                    <mat-card-header class="p-16">
                        <mat-card-title class="m-0">Angulary 3</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="m-0" src="assets/images/work__03.jpg" alt="Photo of Version Three">

                    <div class="p-16">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions class="mb-0">
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>favorite_border</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>share</mat-icon>
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>
            <div class="mb-32" ngClass.xs="mb-16" fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)"
                fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <mat-card class="p-0 m-0 single-work cursor-pointer">
                    <mat-card-header class="p-16">
                        <mat-card-title class="m-0">Angulary 3</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="m-0" src="assets/images/work__03.jpg" alt="Photo of Version Three">

                    <div class="p-16">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions class="mb-0">
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>favorite_border</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>share</mat-icon>
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>
            <div class="mb-32" ngClass.xs="mb-16" fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)"
                fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <mat-card class="p-0 m-0 single-work cursor-pointer">
                    <mat-card-header class="p-16">
                        <mat-card-title class="m-0">Angulary 3</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="m-0" src="assets/images/work__03.jpg" alt="Photo of Version Three">

                    <div class="p-16">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions class="mb-0">
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>favorite_border</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>share</mat-icon>
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>
            <div class="mb-32" ngClass.xs="mb-16" fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)"
                fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <mat-card class="p-0 m-0 single-work cursor-pointer">
                    <mat-card-header class="p-16">
                        <mat-card-title class="m-0">Angulary 1</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="m-0" src="assets/images/work__01.jpg" alt="Photo of Version One">
                    <div class="p-16">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions class="mb-0">
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>favorite_border</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>share</mat-icon>
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>
        </div>

        <div fxLayoutAlign="center center" class="mt-32">
            <button mat-button color="primary">Load More</button>
        </div>
    </div>
</section>