<section class="contact-us-area section-padding">
    <div class="container">
        <h3>Get in touch</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dignissimos perferendis odit, mollitia
            beatae laboriosam.</p>
    </div>
</section>


<section class="contact-area pt-50">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-50">
            <div fxFlex="60">
                <h2 class="mb-16 p-0 m-0 heading-text-color">Contact us</h2>
                <p class="font-size-14 p-0 m-0 secondary-text-color">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.
                    Aperiam repellat aliquid id! Illo corrupti laboriosam in quibusdam ut aspernatur inventore qui
                    possimus?
                </p>
            </div>
            <div fxFlex="40" class="text-right">
                <span class="material-icons font-size-60 primary-text-color">location_on</span>
            </div>
        </div>
        <div class="c-form pb-32">
            <form action="">
                <mat-form-field class="w-100-p">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" value="">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" value="">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email" value="">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                    <mat-label>Description</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span></span>
                    <div class="send-btn">
                        <button mat-fab color="primary" aria-label="Send">
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>