<!-- Faq Section -->
<section class="faq-section section-padding" id="FAQs">
    <div class="container">
        <div class="section-title">
            <h2>FAQs</h2>
            <p>Lazy loaded module with well documented code base. Responsive layout with easy customizable
                components.</p>
        </div>
        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
                    <mat-panel-title>
                        Our purpose
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptas sit numquam expedita
                    corporis beatae ex atque sint temporibus nostrum unde dolore officia nemo inventore maiores incidunt
                    repellat eius, nam veniam est! Est, quod modi adipisci quaerat esse deleniti! Eum nemo nesciunt
                    minus ullam! Nemo amet perferendis nesciunt eum corporis.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
                    <mat-panel-title>
                        Who we are?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum vel dolor quibusdam labore harum dolores
                    ratione ipsam minus provident. Ea eligendi, error nihil officiis dolor aliquam at a eius nesciunt.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
                    <mat-panel-title>
                        What we do?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum vel dolor quibusdam labore harum dolores
                    ratione ipsam minus provident. Ea eligendi, error nihil officiis dolor aliquam at a eius nesciunt.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</section>
<!-- Faq Section -->

<!-- Feature section start -->
<section class="feature-list-area section-padding" id="Features">
    <div class="container">
        <div class="section-title">
            <h2>Features</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aperiam repellat aliquid id! Illo corrupti laboriosam in quibusdam ut aspernatur inventore qui possimus?
            </p>
        </div>
        <div class="feature-list" fxLayout="row wrap" fxLayoutGap.gt-sm="32px" ngClass.gt-sm="mr-m-32"
            fxLayoutAlign="start stretch">
            <div class="single-feature text-center p-24 mat-elevation-z2 mb-32" ngClass.xs="mb-16"
                fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)" fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <div class="feature-icon">
                    <span class="material-icons">code</span>
                </div>
                <h5>Clean Design</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius impedit omnis mollitia nemo at?
                </p>
            </div>
            <div class="single-feature text-center p-24 mat-elevation-z2 mb-32" ngClass.xs="mb-16"
                fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)" fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <div class="feature-icon">
                    <span class="material-icons">speed</span>
                </div>
                <h5>Fast Speed</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius impedit omnis mollitia nemo at?
                </p>
            </div>
            <div class="single-feature text-center p-24 mat-elevation-z2 mb-32" ngClass.xs="mb-16"
                fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)" fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <div class="feature-icon">
                    <span class="material-icons">message</span>
                </div>
                <h5>Messaging</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius impedit omnis mollitia nemo at?
                </p>
            </div>
            <div class="single-feature text-center p-24 mat-elevation-z2 mb-32" ngClass.xs="mb-16"
                fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)" fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <div class="feature-icon">
                    <span class="material-icons">assessment</span>
                </div>
                <h5>Analysis</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius impedit omnis mollitia nemo at?
                </p>
            </div>
            <div class="single-feature text-center p-24 mat-elevation-z2 mb-32" ngClass.xs="mb-16"
                fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)" fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <div class="feature-icon">
                    <span class="material-icons">graphic_eq</span>
                </div>
                <h5>Audio Recoder</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius impedit omnis mollitia nemo at?
                </p>
            </div>
            <div class="single-feature text-center p-24 mat-elevation-z2 mb-32" ngClass.xs="mb-16"
                fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)" fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <div class="feature-icon">
                    <span class="material-icons">headset_mic</span>
                </div>
                <h5>Customer Support</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius impedit omnis mollitia nemo at?
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Feature section end -->