@import "../../../../../styles/variables.scss";

:host {
    .main-menu-area {
        position: absolute;
        width: 100%;
        z-index: 2;
        max-height: 70px;
        background: transparent;
        min-height: 70px;
        line-height: 70px;
        align-items: center;
        display: flex;
        transition: all 0.3s;
        background-color: #fff;
        @media only screen and (max-width: 991px) {
            max-height: 100% !important;
        }
    }

    .main-menu {
        ul {
            padding: 0;
            margin: 0;
        }

        li {
            list-style-type: none;

            button {
                font-size: 12px;
            }
        }
    }

    .main-menu-area-sticky {
        position: fixed;
        top: 0;
        background: $white;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    }

    .logo {
        @media only screen and (max-width: 991px) {
            margin-top: 8px;
        }
        @media only screen and (max-width: 959px) {
            width: 50%;
        }
        h3 {
            color: $primary-text;
            font-size: 18px;
            letter-spacing: 1.2px;
            font-weight: 700;
            @media only screen and (max-width: 991px) {
                line-height: 18px;
            }
        }

        img {
            height: 40px;
        }
    }

    .main-menu-container {
        @media only screen and (max-width: 991px) {
            flex-direction: column !important;
        }
        @media only screen and (max-width: 959px) {
            flex-direction: row !important;
            display: flex;
        }
    }
    .mobile-menu{
        @media only screen and (max-width: 959px) {
            width: 50%;
            text-align: right;
        }
    }
}