$white: #ffffff;
$black: #000000;
$off-white: #f6f9fa;
$primary-text: #24d2b5;
$primary-text-shade-one: #20bda3;
$primary-text-shade-two: #1da891;
$primary-text-shade-three: #19937f;
$warn-text: #fd5052;
$secondary-text: #373737;
$text-color: #222222;
$border-color: rgba(120, 130, 140, 0.13);