<!-- Blog section start -->
<section class="blog-area section-padding" id="Blog">
    <div class="container">
        <div class="section-title">
            <h2>Latest News From Us</h2>
            <p class="secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aperiam repellat aliquid id! Illo corrupti laboriosam in quibusdam ut aspernatur inventore qui possimus?
            </p>
        </div>
        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="32px" fxLayoutAlign="center center"
            class="mb-32">
            <div fxFlex.gt-sm="50%" fxFlex ngClass.sm="mb-32" ngClass.xs="mb-32">
                <div class="highlighted-post mat-elevation-z2">
                    <div class="h-post-image">
                        <img src="../../assets/images/responsive.svg" alt="Highlighted post">
                    </div>
                    <div class="h-post-description">
                        <h2>The master bedroom suite is phenimenally spacious</h2>
                        <p class="secondary-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
                            commodi neque soluta error
                            laboriosam nisi officiis obcaecati voluptas eum tenetur!</p>
                        <button mat-button color="primary">Continue Reading <span
                                class="material-icons">arrow_right_alt</span></button>
                    </div>
                </div>
            </div>
            <div fxFlex.gt-sm="50%" fxFlex>
                <div class="single-post mat-elevation-z2">
                    <div class="post-description">
                        <h4>The master bedroom suite is phenimenally spacious</h4>
                        <p class="secondary-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
                            commodi neque soluta error
                            laboriosam nisi officiis obcaecati voluptas eum tenetur!</p>
                        <button mat-button color="primary">Continue Reading <span
                                class="material-icons">arrow_right_alt</span></button>
                    </div>
                </div>
                <div class="single-post mat-elevation-z2">
                    <div class="post-description">
                        <h4>The master bedroom suite is phenimenally spacious</h4>
                        <p class="secondary-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
                            commodi neque soluta error
                            laboriosam nisi officiis obcaecati voluptas eum tenetur!</p>
                        <button mat-button color="primary">Continue Reading <span
                                class="material-icons">arrow_right_alt</span></button>
                    </div>
                </div>
                <div class="single-post mat-elevation-z2">
                    <div class="post-description">
                        <h4>The master bedroom suite is phenimenally spacious</h4>
                        <p class="secondary-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
                            commodi neque soluta error
                            laboriosam nisi officiis obcaecati voluptas eum tenetur!</p>
                        <button mat-button color="primary">Continue Reading <span
                                class="material-icons">arrow_right_alt</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <button mat-raised-button color="primary">More Posts</button>
        </div>
    </div>
</section>
<!-- Blog section end -->