<!-- Feature section start -->
<section class="feature-list-area section-padding" id="Features">
    <div class="container">
        <div class="section-title">
            <h2>Features</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aperiam repellat aliquid id! Illo corrupti laboriosam in quibusdam ut aspernatur inventore qui possimus?
            </p>
        </div>
        <div class="feature-list" fxLayout="row wrap" fxLayoutGap.gt-sm="32px" ngClass.gt-sm="mr-m-32" fxLayoutAlign="start stretch">
            <div class="single-feature text-center p-24 mb-32" ngClass.xs="mb-16" fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)"
                fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <div class="feature-icon">
                    <span class="material-icons">code</span>
                </div>
                <h5>Clean Design</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius impedit omnis mollitia nemo at?
                </p>
            </div>
            <div class="single-feature text-center p-24 mb-32" ngClass.xs="mb-16" fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)"
                fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <div class="feature-icon">
                    <span class="material-icons">speed</span>
                </div>
                <h5>Fast Speed</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius impedit omnis mollitia nemo at?
                </p>
            </div>
            <div class="single-feature text-center p-24 mb-32" ngClass.xs="mb-16" fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)"
                fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <div class="feature-icon">
                    <span class="material-icons">message</span>
                </div>
                <h5>Messaging</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius impedit omnis mollitia nemo at?
                </p>
            </div>
            <div class="single-feature text-center p-24 mb-32" ngClass.xs="mb-16" fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)"
                fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <div class="feature-icon">
                    <span class="material-icons">assessment</span>
                </div>
                <h5>Analysis</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius impedit omnis mollitia nemo at?
                </p>
            </div>
            <div class="single-feature text-center p-24 mb-32" ngClass.xs="mb-16" fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)"
                fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <div class="feature-icon">
                    <span class="material-icons">graphic_eq</span>
                </div>
                <h5>Audio Recoder</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius impedit omnis mollitia nemo at?
                </p>
            </div>
            <div class="single-feature text-center p-24 mb-32" ngClass.xs="mb-16" fxFlex.xs="0 0 calc(100%)" fxFlex.sm="0 0 calc(100%)"
                fxFlex.gt-sm="0 0 calc(33.33%-32px)">
                <div class="feature-icon">
                    <span class="material-icons">headset_mic</span>
                </div>
                <h5>Customer Support</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius impedit omnis mollitia nemo at?
                </p>
            </div>
        </div>
    </div>
</section>
<section class="overview-section section-padding">
    
    <div class="container">
        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="32px" fxLayoutAlign.gt-sm="start center">
            <div fxFlex fxFlex.gt-sm="50%" class="overview-details">
                <h1>User More Than 2M+</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia at porro officiis eligendi
                    sapiente temporibus? Fugit adipisci mollitia repellat ipsa praesentium magnam accusamus molestias
                    aspernatur, voluptas quia veniam eos.</p>
            </div>
            <div fxFlex fxFlex.gt-sm="50%" class="overview-list">
                <div fxLayout="row" class="mb-32">
                    <div fxFlex fxFlex.gt-sm="50%">
                        <div class="single-overview text-center">
                            <div class="overview-icon">
                                <span class="material-icons">cloud_download</span>
                            </div>
                            <h3>57K+</h3>
                            <span>Download</span>
                        </div>
                    </div>
                    <div fxFlex fxFlex.gt-sm="50%">
                        <div class="single-overview text-center">
                            <div class="overview-icon">
                                <span class="material-icons">insert_emoticon</span>
                            </div>
                            <h3>90K+</h3>
                            <span>Happy Clients</span>
                        </div>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex fxFlex.gt-sm="50%">
                        <div class="single-overview text-center">
                            <div class="overview-icon">
                                <span class="material-icons">star</span>
                            </div>
                            <h3>4.8</h3>
                            <span>Rating</span>
                        </div>
                    </div>
                    <div fxFlex fxFlex.gt-sm="50%">
                        <div class="single-overview text-center">
                            <div class="overview-icon">
                                <span class="material-icons">verified_user</span>
                            </div>
                            <h3>9K+</h3>
                            <span>Premium Member</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature section end -->