<section class="welcome-area">
    <div class="container">
        <div class="welcome-text text-center">
            <h1 class="white-text font-size-60 mb-24 line-height-50">Welcome text area</h1>
            <p class="white-text line-height-24 mb-24">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores nesciunt,
                ea architecto soluta at
                commodi corrupti ut, eveniet velit, obcaecati adipisci sit laboriosam eum cupiditate nostrum excepturi
                pariatur delectus? Rerum.</p>
            <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                <button mat-raised-button>Basic</button>
                <button mat-raised-button color="primary">Primary</button>
            </div>
        </div>
    </div>
</section>